
{% extends 'portfolio/base.html' %}
{% load static %}
{% block content %}

<main role="main">

<section class="jumbotron text-center">
    <div class="container">
      <br>
      <h1>Django developer</h1>
      <img src="{% static 'portfolio/adel.png' %}" height="300"  >
      <p class="lead text-muted">My name is Adel Kadi, I am a django lover, It will be a pleasure to get in touch with you in case you're interested in django development, please don't forget to check my projects and certificates in the top menu</p>
      <p>
        <a href="{% url 'contact' %}" class="btn btn-primary my-2">Contact me</a>
        
      </p>
    </div>
  </section>


<div class="album py-5 bg-light">
  <div class="container">
<h2> Certificates </h2>

  <div class="row">
  	{% for certificate in certificates %}
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="card-img-top" src="{{certificate.image.url}}" width="100%" height="225" >

            <div class="card-body">
              <p class="cartext">{{certificate.title}} <br> {{certificate.description|truncatechars:40}}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="" class="btn btn-sm btn-outline-secondary">View</a>
                  
              </div>
            </div>
          </div>

        </div>

 </div>
 {% endfor %}
</div>
</main>


{% endblock %}
